.container {
    min-height: 200vh;
    background-color:var(--color-bg-light)
}

.backround {
    //z-index: 0;

    &.first{
        content: "";
        width: 50vw;
        height: 50vw;
        aspect-ratio: 1/1;
        border-radius: 999vw;
        border: 0.2rem solid var(--color-primary-dark);
    }
}